<mat-card class="card">
  <mat-card-title>Customer</mat-card-title>
  <mat-toolbar>
    <div class="client-button-row">
      <button
        mat-raised-button
        color="warn"
        (click)="onCreateClient()"
        [disabled]=false>
        <mat-icon aria-placeholder="placeholder" aria-label="Add icon" style="margin-right: 2px;">add</mat-icon>
        <span>Create</span>
      </button>
    </div>
    <mat-form-field class="filter-form-field" floatLabel="never">
      <input matInput [(ngModel)]="filterKey" (keyup)="applyFilter($event.target.value)" autocomplete="off" placeholder="Filter" autofocus>
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="filterKey"
        (click)="onFilterClear()">
        <mat-icon aria-label="Close icon">close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar>
  <div class="table-client mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="clientCode">
        <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.clientCode | uppercase}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.name | titlecase}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let client"> +213 - {{client.mobile}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.gender}} </mat-cell>
      </ng-container>

        <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
        <mat-cell *matCellDef="let client"> {{client.city}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="warn"
            (click)=onEdit(row)>
            <mat-icon>launch</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="onDelete(row._id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef aria-colspan="6">
          <span class="loading-data-text">Loading data......</span>
          <span class="loading-data"></span>
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef aria-colspan="6">
          <span class="no-data">No data.</span>
        </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="loadingData ? 'visible' : 'hidden'"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="noData ? 'visible' : 'hidden'"></mat-footer-row>
    </mat-table>

    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
