<mat-toolbar class="client-create-toolbar">
  <span class="title-dialog">New Customer</span>
  <span class="fill-remaining-space"></span>
  <button mat-stroked-button class="btn-dialog-close" (click)="onClose()" tabindex="-1">
    <mat-icon aria-label="Clear icon">clear</mat-icon>
  </button>
</mat-toolbar>

<form class="client-form-create" [formGroup]="clientCreateForm" (ngSubmit)="onCreateClient()">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Enter your code client" formControlName="clientCode">
          <mat-icon matSuffix aria-label="edit icon">edit</mat-icon>
          <mat-error>Maximum 4 characters.</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" *ngFor="let item of client.input">
          <input matInput [type]="item.type" [placeholder]="'Enter your ' + item.placeholder" formControlName="{{item.control}}">
          <mat-icon matSuffix [attr.aria-label]="item.icon + ' icon'">{{item.icon}}</mat-icon>
          <mat-error>{{item.error}}</mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
          <span matPrefix>+213 &nbsp;</span>
          <input type="tel" matInput placeholder="Mobile*" formControlName="mobile">
          <mat-icon matSuffix aria-label="phone icon">phone</mat-icon>
          <mat-error *ngIf="clientCreateForm.controls['mobile'].errors?.required">
            This field is mandatory.
          </mat-error>
          <mat-error *ngIf="clientCreateForm.controls['mobile'].errors?.pattern">
            Minimum 9 charactors needed, and the first digit must be either 5 or 6 or 7.
          </mat-error>
        </mat-form-field> -->
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button *ngFor="let gender of client.option.genderList" [value]="gender">
              {{gender}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field>
          <span matPrefix>+213 &nbsp;</span>
          <input type="tel" matInput placeholder="Mobile*" formControlName="mobile">
          <mat-icon matSuffix aria-label="phone icon">phone</mat-icon>
          <mat-error *ngIf="clientCreateForm.controls['mobile'].errors?.required">
            This field is mandatory.
          </mat-error>
          <mat-error *ngIf="clientCreateForm.controls['mobile'].errors?.pattern">
            Minimum 9 charactors needed, and the first digit must be either 5 or 6 or 7.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select placeholder="City" formControlName="city">
            <mat-option *ngFor="let cityList of city.array" [value]="cityList">
              {{cityList.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <input matInput [matDatepicker]="date" placeholder="Choose a date" formControlName="hireDate">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
          <mat-error>Date is required</mat-error>
        </mat-form-field> -->

        <!-- <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Client</mat-checkbox>
        </div> -->

        <div class="button-row">
          <button mat-raised-button color="accent" type="submit" [disabled]="clientCreateForm.invalid">Save</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>