<mat-card class="card">
  <mat-card-title>{{title}} Invoice</mat-card-title>
  <mat-card-content>
    <form class="invoice-form" [formGroup]="invoiceForm" novalidate (ngSubmit)="onSaveInvoice()">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Code invoice" formControlName="invoiceCode">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Code client" formControlName="clientCode">
          <mat-option *ngFor="let customer of customerList" [value]="customer.clientCode">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Code product" formControlName="productCode">
          <mat-option *ngFor="let product of productList" [value]="product.productCode">
            {{product.category}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" *ngFor="let item of inputTop">
        <input matInput [type]="item.type" [placeholder]="'Enter your ' + item.placeholder" formControlName="{{item.control}}">
        <mat-icon matSuffix [attr.aria-label]="item.icon + ' icon'">{{item.icon}}</mat-icon>
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" *ngFor="let item of inputBottom">
        <input matInput [type]="item.type" [placeholder]="'Enter your ' + item.placeholder" formControlName="{{item.control}}">
        <mat-icon matSuffix [attr.aria-label]="item.icon + ' icon'">{{item.icon}}</mat-icon>
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="date" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
        <mat-error>Date is required</mat-error>
      </mat-form-field>

      <div class="btn-row">
        <button type="submit" mat-raised-button color="warn" [disabled]="invoiceForm.invalid">
          <mat-icon aria-label="Account icon">account_circle</mat-icon>
          <span>{{title}}</span>
        </button>
        
        <button type="reset" mat-raised-button [style.visibility]="visibility">
          <mat-icon aria-label="Account icon">cancel</mat-icon>
          <span>Cancel</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
